---
import Layout from "../../layouts/Layout.astro";
import ProvinceQuiz from "@/components/quiz/ProvinceQuiz";
---

<Layout title="Provinces Quiz">
    <main class="w-1/2 mx-auto flex flex-col gap-4">
        <h1 class="text-3xl text-center font-semibold">
            Kuis Provinsi Indonesia
        </h1>
        <ProvinceQuiz client:only="react" />
    </main>
</Layout>
