---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Provinces Quiz">
    <main>
        <h1>Provinces Quiz</h1>
        <p>Test your knowledge of the provinces of Canada.</p>
        <p>Coming soon...</p>
    </main>
</Layout>